* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

.App {
  padding: 3em;
  display: flex;
  justify-content: space-around;
  background-color:azure;
  text-align: center;
  margin: auto;
}
