.navbar-nav {
  padding: 0;
  list-style: none;
  /* width: 30%; */
  margin-left: auto;
}

.nav-item a:hover {
  color: cadetblue;
}

.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black !important;
}

.nav-item {
  font-weight: 500;
}

.active {
  color: #0d6efd;
}
